/* Active Admin CSS */
// Normalize
@import "active_admin/normalize";

// Partials
@import "active_admin/classic/typography";
@import "active_admin/classic/header";
@import "active_admin/classic/forms";
@import "active_admin/classic/components/comments";
@import "active_admin/classic/components/flash_messages";
@import "active_admin/classic/components/date_picker";
@import "active_admin/classic/components/tables";
@import "active_admin/classic/components/batch_actions";
@import "active_admin/classic/components/modal_dialog";
@import "active_admin/classic/components/blank_slates";
@import "active_admin/classic/components/breadcrumbs";
@import "active_admin/classic/components/dropdown_menu";
@import "active_admin/classic/components/buttons";
@import "active_admin/classic/components/grid";
@import "active_admin/classic/components/links";
@import "active_admin/classic/components/pagination";
@import "active_admin/classic/components/panels";
@import "active_admin/classic/components/columns";
@import "active_admin/classic/components/scopes";
@import "active_admin/classic/components/status_tags";
@import "active_admin/classic/components/table_tools";
@import "active_admin/classic/components/index_list";
@import "active_admin/classic/components/unsupported_browser";
@import "active_admin/classic/components/tabs";
@import "active_admin/classic/pages/logged_out";
@import "active_admin/classic/structure/footer";
@import "active_admin/classic/structure/main_structure";
@import "active_admin/classic/structure/title_bar";

body {
  @include sans-family;
  line-height: 1.5;
  font-size: 72%;
  background: $body-background-color;
  color: $text-color;
}
